body {
    font-family: Avenir, sans-serif;
    margin: 2rem auto;
    width: 95%;
  }

  h2, p {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .boxes > * {
    padding: .5rem;
    background-color: #333;
    color: white;
  }

  .boxes {
      display: grid;
      grid-auto-rows: minmax(125px, auto);
      grid-gap: .5rem;
  }

  .boxes li {
      background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),
      url(../img/coffee.png);
      display: flex;
      align-items: flex-end;
      background-size: cover;
  }

  @media screen and (min-width: 40em) {
      .boxes {
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 2px;
      }

      .boxes .primer-li {
        grid-column: 1 / -1;
        grid-row: span 3;
      }

      .boxes :nth-child(2) {
          grid-column: span 2;
          grid-row: span 7;
      }

      .boxes li:nth-child(3) {
        grid-column: span 4;
        grid-row: span 3;
      }
    
      .boxes li:nth-child(4) {
        grid-column: span 2;
        grid-row: span 4;
      }
    
      .boxes li:nth-child(5),
      .boxes li:nth-child(6) {
        grid-column: span 2;
        grid-row: span 2;
      }
  }